
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Data
*.csv
!Team_miniproject1/*.csv
Team_miniproject1/sales_filtered_2020_2025.csv
Team_miniproject1/store_filtered_2020_2025.csv

# IDE
.vscode/
.idea/
